<template>
<ul v-if="errors">
  <li class="text-error" v-for="error in errors">
    {{error}}
  </li>
</ul>
</template>

<script>
  export default {
    name: 'input-errors',
    props: {
      errors: {
        default: Array,
      },
    }
  }
</script>

<style lang="scss" scoped>
  .text-error {
    color: red;
    list-style: none;
  }
</style>
