<template>
  <page>
    <header-menu :name="menu.name" :items="menu.items"></header-menu>
    <container>
      <grid>
        <column column="column-19">
          <grid>
            <column column="column-12">
              <user-card></user-card>
            </column>
            <column column="column-12">
              <user-card></user-card>
            </column>
            <column column="column-12">
              <user-card></user-card>
            </column>
            <column column="column-12">
              <user-card></user-card>
            </column>
            <column column="column-12">
              <user-card></user-card>
            </column>
            <column column="column-12">
              <user-card></user-card>
            </column>
            <column column="column-12">
              <user-card></user-card>
            </column>
            <column column="column-12">
              <user-card></user-card>
            </column>
          </grid>
        </column>
        <column column="column-5">
          <widget name="Фильтр">
            <div class="form--field">
              <label for="">Имя или фамилия</label>
              <input type="text" placeholder="">
            </div>
            <div class="form--field">
              <label for="">Город</label>
              <input type="text" placeholder="">
            </div>
            <div class="form--field">
              <label for="">Пол</label>
              <select name="" id="">
                <option value="f">Женщина</option>
                <option value="m">Мужчина</option>
              </select>
            </div>
          </widget>
        </column>
      </grid>
    </container>
  </page>
</template>

<script>
  import Page from '@/components/Page'
  import Container from '@/components/Container'
  import HeaderMenu from '@/components/HeaderMenu'
  import Grid from '@/components/Grid'
  import Column from '@/components/Column'
  import Widget from '@/components/Widget'
  import UserCard from '@/components/UserCard'

  export default {
    name: 'friends',
    data() {
      return {
        menu: {
          name: "Друзья",
          items: [
            {
              name: 'Все друзья',
              link: {
                name: 'Friends'
              }
            },
            {
              name: 'Новые',
              link: {
                name: 'FriendsOnline'
              }
            },
          ]
        }
      }
    },
    components: {
      Page,
      Container,
      HeaderMenu,
      Grid,
      Column,
      Widget,
      UserCard
    }
  }
</script>
