<template>
  <page style="background: #fff">
    <container>
      <grid>
        <column column="column-24">
          <div class="form findform">
            <div class="form--quote" v-if="current_quote != null">
              <div class="form--quote__text" ref="quote" v-html="current_text">
              </div>
              <div class="form--quote__source">
                <i>{{current_quote.source}}</i>
              </div>
            </div>
          </div>
        </column>
        <column column="column-24">
          <grid>
            <column column="column-7">
              <div class="form--field">
                <label>Какое место вы хотите посетить?</label>
                <input type="text" placeholder="Гималаи, Сахара, Лондон">
              </div>
            </column>
            <column column="column-7">
              <div class="form--field">
                <label>Город отправления</label>
                <input type="text" placeholder="Например: Москва">
              </div>
            </column>
            <column column="column-7">
              <div class="form--field">
                <label>Дата начала путешествия</label>
                <input type="date" placeholder="Укажите дату">
              </div>
            </column>
            <column column="column-3">
              <div class="form--field">
                <label></label>
                <btn class="default noradius fluid">Найти</btn>
              </div>
            </column>
          </grid>
        </column>
      </grid>
    </container>
  </page>
</template>

<script>
  import Page from '@/components/Page'
  import Container from '@/components/Container'
  import Grid from '@/components/Grid'
  import Column from '@/components/Column'
  import Btn from '@/components/Btn'
  import Widget from '@/components/Widget'

  export default {
    name: 'main',
    data() {
      return {
        current_quote: null,
        current_text: "",
        quotes: [
          {
            text: "Нет ничего более полезного для нервов, чем побывать там, где никогда не был.",
            source: "Анна Ахматова"
          },
          {
            text: "Жизнь начинается за пределами твоей зоны комфорта.",
            source: "Нил Дональд Волш"
          },
          {
            text: "Это очень правильно – приезжать в чужой город под утро. На поезде, самолете – все равно. День начинается будто с чистого листа.",
            source: "Сергей Лукьяненко"
          },
          {
            text: "Путешествовать и жить гораздо интереснее, если следуешь внезапно возникающим импульсам.",
            source: "Билл Брайсон"
          },
          {
            text: "Только о двух вещах мы будем жалеть на смертном одре – что мало любили и мало путешествовали.",
            source: "Марк Твен"
          }
        ]
      }
    },
    mounted() {
      let vm = this;

      let startTypingQuote = function () {
        let quoteTypingInterval = setInterval(function () {
          if (vm.current_quote.text.length > 0) {
            let splitedString = vm.current_quote.text.split("");
            vm.current_text += splitedString.splice(0, 1).join("");
            vm.current_quote.text = splitedString.join("");
          }
          else {
            clearInterval(quoteTypingInterval);
            setTimeout(setRandomQuote, 5000);
          }
        }, 30);
      };

      let setRandomQuote = function () {
        vm.current_text = "";
        let count_quotes = vm.quotes.length;
        let rand = Math.random() * ((count_quotes - 1));
        let index = Math.round(rand);
        vm.current_quote = Object.assign({}, vm.quotes[index]);
        startTypingQuote();
      };

      setRandomQuote();

    },
    components: {
      Grid,
      Container,
      Column,
      Btn,
      Widget,
      Page
    }
  }
</script>

<style lang="scss">
  .findform {
    margin-top: 100px;
  }
  .form {
    &--quote {
      font-family: 'Asap', sans-serif;
      height: 200px;
      &__text {
        font-size: 30px;
        line-height: 40px;
        height: 100px;
      }
      &__source {
        margin-top: 20px;
        width: 100%;
        font-size: 17px;
        text-align: right;
      }
    }
  }
</style>
