<template>
  <page style="background: #fff">
    <container>
      <grid v-if="success==false">
        <column column="column-8">
          <div >
            <h1>Регистрация</h1>
            <div class="form regform">
              <column column="column-12">
                <div class="form--field">
                  <label>Ваше имя</label>
                  <input v-model="user.first_name" type="text" placeholder="Например: Иван">
                  <input-errors :errors="errors.first_name"></input-errors>
                </div>
              </column>
              <column column="column-12">
                <div class="form--field">
                  <label>Ваша фамилия</label>
                  <input v-model="user.last_name" type="text" placeholder="Например: Иванов">
                  <input-errors :errors="errors.last_name"></input-errors>
                </div>
              </column>
              <column column="column-12">
                <div class="form--field">
                  <label>Ваш емейл</label>
                  <input v-model="user.email" type="text" placeholder="Например: ivan@ivanov.ru">
                  <input-errors :errors="errors.email"></input-errors>
                </div>
              </column>
              <column column="column-12">
                <div class="form--field">
                  <label>Ваш телефон</label>
                  <input v-model="user.phone" type="text" placeholder="Например: 7 (123) 4567890">
                  <input-errors :errors="errors.phone"></input-errors>
                </div>
              </column>

              <column column="column-12">
                <div class="form--field">
                  <label>Ваше пароль</label>
                  <input v-model="user.password" type="password" placeholder="Ваш пароль">
                  <input-errors :errors="errors.password"></input-errors>
                </div>
              </column>
              <column column="column-12">
                <div class="form--field">
                  <label>Повторите пароль</label>
                  <input v-model="user.password_confirm" type="password" placeholder="Повторите пароль">
                  <input-errors :errors="errors.password_confirm"></input-errors>
                </div>
              </column>
              <column column="column-12">
                <div class="form--field">
                  <label style="line-height: 1;"><input v-model="user.agree_confirm" type="checkbox"> Регистрируясь, я даю согласие на обработку персональных данных и подтверждаю, что ознакомлен и принимаю правила.</label>

                  <input-errors :errors="errors.agree_confirm"></input-errors>
                </div>
              </column>
              <column column="column-3">
                <div class="form--field">
                  <label></label>
                  <btn class="default fluid noradius" @click.native="register()">Продолжить</btn>
                </div>
              </column>
            </div>
          </div>
        </column>
        <column column="column-2"></column>
        <column column="column-14">
          <grid>
            <column column="column-12">
              <travel-card city_from="Санкт-Петербург"
                           city_to="Амстердам"
                           date_start="12 дек"
                           date_end="15 дек"
                           :transport="1"
              ></travel-card>
            </column>
            <column column="column-12">
              <travel-card city_from="Санкт-Петербург"
                           city_to="Хелсинки"
                           date_start="20 дек"
                           date_end="25 дек"
                           :transport="2"
              >

              </travel-card>
            </column>
            <column column="column-12">
                <travel-card city_from="Москва"
                             city_to="Берлин"
                             date_start="20 дек"
                             date_end="25 дек"
                             :transport="3"
                >

                </travel-card>
            </column>
            <column column="column-12">
                <travel-card city_from="Москва"
                             city_to="Берлин"
                             date_start="20 дек"
                             date_end="25 дек"
                             :transport="3"
                >

                </travel-card>
            </column>
          </grid>
        </column>
      </grid>
      <grid v-if="success==true">
        <h1>Поздравляем! Вы почти с нами</h1>
        <p>Для завершения регистрации зайдите на свой почтовый ящик <b>{{user.email}}</b> и проследуйте инструкциям</p>
      </grid>
    </container>
  </page>
</template>

<script>
  import Page from '@/components/Page'
  import Container from '@/components/Container'
  import Grid from '@/components/Grid'
  import Column from '@/components/Column'
  import Btn from '@/components/Btn'
  import InputErrors from '@/components/form/InputErrors'
  import TravelCard from "@/components/TravelCard"

  export default {
    name: 'main',
    data() {
      return {
        success: false,
        user: {
          first_name: '',
          last_name: '',
          phone: '',
          email: '',
          password: '',
          password_confirm: '',
          agree_confirm: '',
        },
        errors: {
          first_name: [],
          last_name: [],
          phone: [],
          email: [],
          password: [],
          password_confirm: [],
          agree_confirm: '',
        }
      }
    },
    methods: {
      register() {
        let vm = this;
        vm.$twingo.call("users/register", vm.user).then(response => {
          if(response.body.success) {
            vm.$auth.set(response.body.token, response.body.user);
            vm.success = true;
          }
          else {
            vm.errors = response.body.errors;
          }
        })
      },
    },
    mounted() {

    },
    components: {
      Grid,
      Container,
      Column,
      Page,
      Btn,
      InputErrors,
      TravelCard
    }
  }
</script>
