<template>
  <page class="settings">
    <container>
      <grid>
        <column column="column-24">
          <widget style="padding: 20px 30px;">
            <h1>Настройки</h1>
            <hr>
            <br>
            <form @submit="saveSettings">


              <grid>
                <column column="column-5">
                  <settings-navigation></settings-navigation>
                </column>
                <column column="column-19">
                  <success-alert v-if="saved === 1">
                    Настройки успешно сохранены
                  </success-alert>

                  <error-alert v-if="saved === -1">
                    Непредвиденная ошибка при сохранении настроек
                  </error-alert>
                  <br>
                  <column column="column-24">
                    <div class="form--field">
                      <grid>
                        <column column="column-4">
                          <label>Фамилия</label>
                        </column>
                        <column column="column-10">
                          <input v-model="user.last_name" type="text">
                        </column>
                        <column column="column-10">
                          <input-errors :errors="errors.last_name"></input-errors>
                        </column>
                      </grid>
                    </div>
                  </column>
                  <column column="column-24">
                    <div class="form--field">
                      <grid>
                        <column column="column-4">
                          <label>Имя</label>
                        </column>
                        <column column="column-10">
                          <input v-model="user.first_name" type="text">
                        </column>
                        <column column="column-10">
                          <input-errors :errors="errors.first_name"></input-errors>
                        </column>
                      </grid>
                    </div>
                  </column>
                  <column column="column-24">
                    <div class="form--field">
                      <grid>
                        <column column="column-4">
                          <label>Город</label>
                        </column>
                        <column column="column-10">
                          <input v-model="user.city.title" type="text">
                        </column>
                        <column column="column-10">
                          <input-errors :errors="errors.city"></input-errors>
                        </column>
                      </grid>
                    </div>
                  </column>
                  <column column="column-24">
                    <div class="form--field">
                      <grid>
                        <column column="column-4">
                          <label>Пол</label>
                        </column>
                        <column column="column-10">
                          <select v-model="user.gender">
                            <option value="m">Мужчина</option>
                            <option value="f">Женщина</option>
                          </select>
                        </column>
                        <column column="column-10">
                          <input-errors :errors="errors.gender"></input-errors>
                        </column>
                      </grid>
                    </div>
                  </column>
                  <column column="column-24">
                    <div class="form--field">
                      <grid>
                        <column column="column-4">
                          <label>Дата рождения</label>
                        </column>
                        <column column="column-10">
                          <input v-model="user.birthday" type="date"/>
                        </column>
                        <column column="column-10">
                          <input-errors :errors="errors.birthday"></input-errors>
                        </column>
                      </grid>
                    </div>
                  </column>
                  <column column="column-24">
                    <div class="form--field">
                      <grid>
                        <column column="column-4">
                          <label>О себе</label>
                        </column>
                        <column column="column-10">
                          <textarea v-model="user.description" rows="5"
                                    placeholder="Хобби, музыка, какие страны уже посетили и т.д."></textarea>
                        </column>
                        <column column="column-10">
                          <input-errors :errors="errors.description"></input-errors>
                        </column>
                      </grid>
                    </div>
                  </column>
                  <grid>
                    <column column="column-18" style="text-align: center">
                      <btn class="default" :loader="saved === -2">Сохранить</btn>
                    </column>
                  </grid>
                </column>
              </grid>
            </form>
          </widget>
        </column>
      </grid>
    </container>
  </page>
</template>

<script>
  import Page from '../components/Page';
  import Container from '../components/Container';
  import Grid from '../components/Grid';
  import Column from '../components/Column';
  import Widget from '../components/Widget';
  import InputErrors from '../components/form/InputErrors';
  import SettingsNavigation from "./parts/SettingsNavigation";
  import Button from "sweet-modal-vue/docs/components/Button";
  import Btn from "../components/Btn";
  import Alert from "../components/Alert";
  import SuccessAlert from "../components/SuccessAlert";
  import ErrorAlert from "../components/ErrorAlert";

  export default {
    name: "settings",
    data() {
      return {
        saved: 0,
        user: {
          first_name: '',
          last_name: '',
          gender: 'm',
          description: '',
          city: '',
        },
        errors: {
          first_name: [],
          last_name: [],
          gender: [],
          description: [],
          city: [],
        }
      }
    },
    methods: {
      saveSettings() {
        let self = this;
        self.saved = -2;
        this.$twingo.call("account/update", this.user).then(response => {
          self.saved = response.body.success === 1 ? 1 : 0;
          self.errors = response.body.errors ? response.body.errors : {};
        }, error => {
          self.saved = -1;
        });
      }
    },
    beforeMount() {
      let self = this;

      this.$twingo.call('account/getBaseInfo').then(response => {
        self.user = response.body;
        self.user.city = self.user.city ? self.user.city : {
          title: '',
          id: undefined
        }
      })
    },
    components: {
      ErrorAlert,
      SuccessAlert,
      Alert,
      Btn,
      Button,
      SettingsNavigation,
      Page,
      Container,
      Grid,
      Column,
      Widget,
      InputErrors
    }
  }
</script>

<style lang="scss" scoped>
  .settings {
    float: left;
  }
</style>
