<template>
  <page>
    <header-menu :name="menu.name" :items="menu.items"></header-menu>
    <container>
      <grid>
        <column column="column-19">
          <grid>
            <column column="column-12">
              <travel-card city_from="Санкт-Петербург"
                           city_to="Амстердам"
                           date_start="12 дек"
                           date_end="15 дек"
                           :transport=1
              >

              </travel-card>
            </column>
            <column column="column-12">
              <travel-card city_from="Санкт-Петербург"
                           city_to="Хельсинки"
                           date_start="20 дек"
                           date_end="25 дек"
                           :transport=2
              >

              </travel-card>
            </column>
            <column column="column-12">
              <travel-card city_from="Москва"
                           city_to="Берлин"
                           date_start="20 дек"
                           date_end="25 дек"
                           :transport=3
              >

              </travel-card>
            </column>
          </grid>
        </column>
        <column column="column-5">
          <widget name="Фильтр">
            <div class="form--field">
              <label for="">Город отправления</label>
              <input type="text" placeholder="">
            </div>
            <div class="form--field">
              <label for="">Город прибытия</label>
              <input type="text" placeholder="">
            </div>
            <div class="form--field">
              <label for="">Траспорт</label>
              <select name="" id="">
                <option value="f">Самолёт</option>
                <option value="m">Автомобиль</option>
                <option value="m">Поезд</option>
              </select>
            </div>
          </widget>
        </column>
      </grid>
    </container>
  </page>
</template>

<script>
  import Page from '@/components/Page'
  import Container from '@/components/Container'
  import HeaderMenu from '@/components/HeaderMenu'
  import Grid from '@/components/Grid'
  import Column from '@/components/Column'
  import Widget from '@/components/Widget'
  import TravelCard from '@/components/TravelCard'

  export default {
    name: 'travels',
    data() {
      return {
        menu: {
          name: "Мои путешествия",
          items: [
            {
              name: 'Все путешетсвия',
              link: {
                name: 'Travels'
              }
            },
            {
              name: 'Только мои',
              link: {
                name: 'FriendsOnline'
              }
            },
            {
              name: 'В которых состою',
              link: {
                name: 'FriendsOnline'
              }
            },
          ]
        }
      }
    },
    components: {
      Page,
      Container,
      HeaderMenu,
      Grid,
      Column,
      Widget,
      TravelCard
    }
  }
</script>
