<template>
  <page style="background: #fff">
    <container>
      <div class="form" v-if="!isCompleted">
        <h1>Создание путешествия</h1>
        <grid v-if="step=='step1'">
          <column column="column-12">
            <div class="form--field">
              <label>Какое место вы хотите посетить? </label>
              <input v-model="travel.end_point" type="text" placeholder="Например: Лондон или Гималаи">
            </div>
          </column>
          <column column="column-9">
            <div class="form--field">
              <label>Когда планируете своё путешествие?</label>
              <input type="date" v-model="travel.start_date">
            </div>
          </column>
          <column column="column-3">
            <div class="form--field">
              <label></label>
              <btn class="default fluid noradius" @click.native="nextStep('step2')">Продолжить</btn>
            </div>
          </column>
        </grid>
        <grid v-if="step=='step2'">
          <column column="column-12">
            <div class="form--field">
              <label>Куда? </label>
              <i class="fa fa-map-marker color"></i> {{travel.end_point}}
            </div>
          </column>
          <column column="column-9">
            <div class="form--field">
              <label>Когда?</label>
              <i class="fa fa-map-marker color"></i> {{travel.start_date}}
            </div>
          </column>
          <column column="column-3">
            <div class="form--field">
              <label></label>
              <a href="#" @click="nextStep('step1')">Изменить</a>
            </div>
          </column>
          <column column="column-12">
            <div class="form--field">
              <label>Откуда начинаете путешествие? </label>
              <input type="text" placeholder="Укажите город отправления" v-model="travel.start_point">
            </div>
          </column>
          <column column="column-9">
            <div class="form--field">
              <label>На какой транспорте?</label>
              <select v-model="travel.transport">
                <option value="1">Самолёт</option>
                <option value="2">Автомобиль</option>
                <option value="2">Поезд</option>
              </select>
            </div>
          </column>
          <column column="column-3">
            <div class="form--field">
              <label for=""></label>
              <btn class="default fluid noradius" @click.native="nextStep('step3')">Продолжить</btn>
            </div>
          </column>
        </grid>
        <grid v-if="step=='step3'">
          <column column="column-12">
            <div class="form--field">
              <label for="">Откуда? </label>
              <i class="fa fa-map-marker color"></i> {{travel.start_point}}
            </div>
            <br>
          </column>
          <column column="column-9">
            <div class="form--field">
              <label for="">Куда?</label>
              <i class="fa fa-map-marker color"></i> {{travel.end_point}}
            </div>
            <br>
          </column>
          <column column="column-3">
            <div class="form--field">
              <label for=""></label>
              <a href="#" @click="nextStep('step1')">Изменить</a>
            </div>
          </column>
          <column column="column-12">
            <div class="form--field">
              <label for="">Когда?</label>
              <i class="fa fa-map-marker color"></i> {{travel.start_date}}
            </div>
            <br>
          </column>
          <column column="column-9">
            <div class="form--field">
              <label for="">Транспорт</label>
              <i class="fa fa-rocket color"></i> Самолёт
            </div>
            <br>
          </column>
          <column column="column-3">
            <div class="form--field">
              <label for=""></label>
              <a href="#" @click="nextStep('step2')">Изменить</a>
            </div>
          </column>
          <column column="column-9">
            <div class="form--field">
              <label for="">Поедете ли вы обратно?</label>
              <select v-model="travel.reverse">
                <option value="0">Нет</option>
                <option value="1">Да</option>
              </select>
            </div>
          </column>
          <column column="column-12" v-if="travel.reverse != 0">
            <div class="form--field">
              <label v-model="travel.end_date" for="">Когда планируете поехать обратно?</label>
              <input type="date">
            </div>
          </column>
          <column column="column-3">
            <div class="form--field">
              <label for=""></label>
              <btn class="default fluid noradius" @click.native="completeCreatingTravel">Завершить</btn>
            </div>
          </column>
        </grid>
      </div>
      <div v-if="isCompleted">
        <h1>Создание путешествия заверешено</h1>
        <grid>
          <column column="column-16">
            <div class="form--field">
              <label for="">Откуда? </label>
              <i class="fa fa-map-marker color"></i> {{travel.start_point}}
            </div>
            <br>
          </column>
          <column column="column-8">
            <div class="form--field">
              <label for="">Куда?</label>
              <i class="fa fa-map-marker color"></i> {{travel.end_point}}
            </div>
            <br>
          </column>
          <column column="column-8">
            <div class="form--field">
              <label for="">Дата отправления</label>
              <i class="fa fa-clock-o color"></i> {{travel.start_date}}
            </div>
            <br>
          </column>
          <column column="column-8">
            <div class="form--field">
              <label for="">Обратно</label>
              <span v-if="travel.end_date"><i class="fa fa-clock-o color"></i> {{travel.end_date}}</span>
              <span v-else>Это путешествие в одну сторону</span>
            </div>
            <br>
          </column>
          <column column="column-8">
            <div class="form--field">
              <label for="">Транспорт</label>
              <i class="fa fa-rocket color"></i> Самолёт
            </div>
            <br>
          </column>
          <column column="column-24">
            <div class="form--field">
              <label for="">Описание</label>
              <p>
                {{travel.description}}
              </p>
            </div>
            <br>
          </column>
          <column column="column-24">
            <btn class="default">Перейти на страницу путешествия</btn>
          </column>
        </grid>
      </div>

      <br>
      <hr>
      <div v-if="step !='step3'">
        <h2>
          Рекомендованные вам путешетсвия
        </h2>

        <grid>
          <column column="column-12">
            <travel-card city_from="Санкт-Петербург"
                         city_to="Амстердам"
                         date_start="12 дек"
                         date_end="15 дек"
                         :transport=1
            >

            </travel-card>
          </column>
          <column column="column-12">
            <travel-card city_from="Санкт-Петербург"
                         city_to="Хелсинки"
                         date_start="20 дек"
                         date_end="25 дек"
                         :transport=2
            >

            </travel-card>
          </column>
          <column column="column-12">
            <travel-card city_from="Москва"
                         city_to="Берлин"
                         date_start="20 дек"
                         date_end="25 дек"
                         :transport=3
            >

            </travel-card>
          </column>
        </grid>
      </div>
      <div v-if="step == 'step3' && !isCompleted">
        <grid>
          <column column="column-24">
            <div class="form--field">
              <label
                for="">Расскажите чем планируете заняться в путешествии. Это необходимо, чтобы найти единомышленников</label>
              <textarea rows="10" v-model="travel.description"></textarea>
            </div>
          </column>
        </grid>
      </div>
    </container>
  </page>

</template>

<script>
  import Page from "@/components/Page"
  import Container from "@/components/Container"
  import Widget from "@/components/Widget"
  import Grid from "@/components/Grid"
  import Column from "@/components/Column"
  import Btn from "@/components/Btn"
  import TravelCard from "@/components/TravelCard"

  export default {
    name: "travel-create",
    data() {
      return {
        step: 'step1',
        isCompleted: false,
        travel: {
          start_point: null,
          end_point: null,
          start_date: null,
          end_date: null,
          transport: 1,
          description: "",
          reverse: 1
        }
      }
    },
    methods: {
      nextStep(name) {
        this.step = name;
      },
      completeCreatingTravel() {
        this.isCompleted = true;
      }
    },
    components: {
      Container,
      Grid,
      Column,
      Btn,
      Widget,
      Page,
      TravelCard
    }
  }
</script>
