<template>
  <page>
    <header-menu :items="menu"></header-menu>
    <container>
      <grid>
        <column column="column-6">
            <travel-road></travel-road>
        </column>
        <column column="column-12">
          <widget>
            <travel-map></travel-map>
          </widget>
        </column>
        <column column="column-6">
          <parts-list></parts-list>
        </column>
      </grid>
    </container>
  </page>
</template>

<script>
  import Page from '@/components/Page'
  import Container from '@/components/Container'
  import Grid from '@/components/Grid'
  import Column from '@/components/Column'
  import HeaderMenu from '@/components/HeaderMenu'
  import Widget from '@/components/Widget'
  import UserProfile from '@/components/UserProfile'
  import PartsList from '@/components/PartsList'
  import TravelRoad from '@/components/TravelRoad'
  import TravelMap from '@/components/TravelMap'

  export default {
    name: "travel",
    data() {
      return {
        menu: [
          {
            name: 'Путешествие',
            link: {
              name: 'Travel'
            }
          },
          {
            name: 'Участники',
            link: {
              name: 'Travels'
            }
          }
        ]
      }
    },
    components: {
      Page,
      Container,
      Grid,
      Column,
      Widget,
      UserProfile,
      PartsList,
      HeaderMenu,
      TravelRoad,
      TravelMap
    }
  }
</script>

