<template>
  <page class="user" v-if="user">
    <container>
      <grid>
        <column column="column-6">
          <widget>
            <user-avatar :user="user"></user-avatar>

          </widget>
        </column>
        <column column="column-12">
          <widget>
            <div class="user--info">
              <div class="user--name">{{user.first_name}} {{user.last_name}}</div>
              <hr />
              <div class="user--info__text" ref="infoBlock" v-bind:class="{'big': !infoExpanded && bigInfo}">
                <p class="user--about">
                  <span><b>О себе:</b> </span> <span class="">{{user.description}}</span>
                </p>
              </div>
              <div class="user--info__expandBtn" v-if="bigInfo">
                <btn class="second fluid" v-if="!infoExpanded" @click.native="expandInfo">Подбробнее</btn>
                <btn class="second fluid" v-if="infoExpanded" @click.native="expandInfo">Скрыть</btn>
              </div>
            </div>
          </widget>
          <widget v-if="current_user.id !== user.id">
            <grid>
              <column column="column-8" style="padding-right: 5px;">
                <btn class="outline fluid">Написать</btn>
              </column>
              <column column="column-8" style="padding: 0 5px;">
                <btn class="default fluid">В друзья</btn>
              </column>
              <column column="column-8" style="padding-left: 5px;">
                <btn class="outline fluid">Пригласить</btn>
              </column>
            </grid>
          </widget>
        </column>

        <column column="column-6 user--sidebar">
          <p class="user--sidebar__header">Путешествия пользователя</p>
          <small-travel-card></small-travel-card>
          <small-travel-card></small-travel-card>
          <small-travel-card></small-travel-card>
          <small-travel-card></small-travel-card>
          <small-travel-card></small-travel-card>
          <small-travel-card></small-travel-card>
          <small-travel-card></small-travel-card>
          <small-travel-card></small-travel-card>
          <small-travel-card></small-travel-card>
          <small-travel-card></small-travel-card>
          <small-travel-card></small-travel-card>
          <small-travel-card></small-travel-card>
        </column>
      </grid>
    </container>
  </page>
</template>

<script>
  import Page from '@/components/Page'
  import Container from '@/components/Container'
  import Grid from '@/components/Grid'
  import Column from '@/components/Column'
  import Widget from '@/components/Widget'
  import SmallTravelCard from '@/components/SmallTravelCard'
  import UserAvatar from '@/components/UserAvatar'
  import Btn from '@/components/Btn'

  export default {
    name: "user",
    data() {
      return {
        bigInfo: false,
        infoExpanded: false,
        user: undefined,
        current_user: undefined
      }
    },
    methods: {
      expandInfo() {
        this.infoExpanded = !this.infoExpanded;
      },
      prepareInfo() {
        this.user.description = this.user.description !== undefined ? this.user.description : "";
        this.user.hobby = this.user.hobby !== undefined ? this.user.hobby : "";

        if ((this.user.description.length + this.user.hobby.length) > 120) {
          this.bigInfo = true;
        }
      }
    },
    components: {
      Page,
      Container,
      Column,
      Grid,
      Widget,
      UserAvatar,
      SmallTravelCard,
      Btn
    },
    beforeMount () {
      let vm = this;
      this.current_user = this.$auth.user;
      this.$twingo.call("users/get", {
        user_id: this.current_user.id
      }).then(response => {
        vm.user = response.body.object;
        this.prepareInfo();
      });
    }
  }
</script>


<style lang="scss">
  .user {
    background: #ffffff;
    &--sidebar {
      margin-top: 10px;
      background: #eeeeee;
      &__header {
        padding: 0 12px;
        color: #888;
      }
    }
    &--name {
      font-size: 17px;
    }
    &--info {
      position: relative;

      &__text {
        overflow: hidden;
        &.big {
          height: 98px;
          overflow: hidden;
        }
      }
      &__expandBtn {
        margin-top: 20px;
      }
    }

    &--about {
      font-size: 13px;
      line-height: 1.56;
    }
  }
</style>
