<template>
  <div class="alert" :class="type">
    <grid>
      <column column="column-2">
        <i class="alert--icon" v-bind:class="icon"></i>
      </column>
      <column column="column-22 alert--content">
        <slot></slot>
      </column>
    </grid>

  </div>
</template>

<script>
  import Grid from "./Grid";
  import Column from "./Column";

  export default {
    components: {
      Column,
      Grid
    },
    props: ['type', 'icon'],
    name: "alert"
  }
</script>

<style lang="scss" scoped>
  .alert {
    width: 100%;
    padding: 15px;
    border-radius: 3px;

    &--content {
      padding-top: 9px;
    }

    &.success {
      & .alert--icon {
        color: #6bbe76
      }
      background: #C8E6C9;
    }

    &.error {
      & .alert--icon {
        color: #F44336;
      }
      background: #EF9A9A;
      
    }
  }
</style>
