<template>
  <button class="btn" :class="classes">
    <slot v-if="!loader"></slot>
    <i v-if="loader" class="fa fa-spinner fa-spin"></i>
  </button>
</template>


<script>
  export default {
    name: 'btn',
    props: {
      classes: {
        type: String
      },
      isRadius: {
        default: true,
      },
      isFluid: {
        default: false
      },
      loader: {
        default: false
      }
    }
  }
</script>


<style lang="scss">
  $button-default-bg: #6bbe76;
  $border-radius: 2px;

  .btn {
    padding: 7px 15px;
    font-size: 12px;
    border: none;
    border-radius: $border-radius;
    transition: 0.222s all ease-out;

    &.noradius {
      border-radius: 0;
    }

    &.default {
      border: 1px solid $button-default-bg;
      background: $button-default-bg;
      color: #fff;

      &:hover {
        background: darken($button-default-bg, 10%);
      }
    }

    &.second {
      border: 1px solid #eee;
      background: #eee;
      color: $button-default-bg;
    }

    &.outline {
      background: none;
      border: 1px solid $button-default-bg;
      color: $button-default-bg;

      &:hover {
        background: $button-default-bg;
        color: #fff;
      }
    }

    &.link {
      background: none;
      border: none;
      color: $button-default-bg;
    }

    &:hover {
      cursor: pointer;
    }
  }
</style>
