  <template>
  <div class="column" :class="column">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'column',
    props: {
      column: {
        type: String
      }
    }
  }
</script>

<style lang="scss">
  $grid-columns: 24;
  .column {
    @for $i from 1 through $grid-columns {
      &.column-#{$i} {
        flex: 0 0 ((100% / $grid-columns) * $i);
        $count: 24 / $i;
      }
    }
  }
</style>
