<template>
    <alert type="error" icon="fa fa-exclamation-circle  fa-3x">
      <slot></slot>
    </alert>
</template>

<script>
    import Alert from "./Alert";

    export default {
      components: {Alert},
      name: "error-alert"
    }
</script>

<style scoped>

</style>
