<template>
  <div class="grid">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'grid'
  }
</script>

<style lang="scss">
  .grid {
    display: flex;
    flex-flow: wrap;
    justify-content:flex-start;
  }
</style>
