<template>
  <div class="menu">
    <container>
      <div class="menu--items">
        <ul>
          <li v-for="item in items">
            <router-link :to="item.link" exact>
              <span v-html="item.name"></span>
            </router-link>
          </li>
        </ul>
      </div>
    </container>
  </div>
</template>

<script>
  import Container from '@/components/Container'

  export default {
    name: 'header-menu',
    props: {
      name: {
        type: String
      },
      items: {
        type: Array
      }
    },
    components: {
      Container
    }
  }
</script>

<style lang="scss">
  $menu-height: 45px;

  .menu {
    width: 100%;
    height: $menu-height;
    background: #fff;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 15px;

    &:after {
      content: ".";
      display: block;
      height: 100px;
      margin-bottom: 100px;
    }

    &--items {
      float: left;
      width: 100%;
      & ul {
        padding: 0;
        margin: 0;
        & li {
          line-height: $menu-height;
          display: inline-block;

          & a {
            display: block;
            padding: 0 30px;
            text-decoration: none;
            color: #c3c3c3;
            font-size: 13px;
            &:hover, &.router-link-active {
              color: #6bbe76;

              & span {
                display: inline-block;
                border-bottom: 2px #6bbe76 solid;
                height: $menu-height;
              }
            }
            &:first-child {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
</style>
