<template>
  <div class="navbar">
    <container>
      <div class="navbar--logo">
        <router-link :to="logo.link">
          {{logo.text}}
        </router-link>
      </div>
      <div class="navbar--menu">
        <ul>
          <li v-for="item in links">
            <router-link :to="item.link" v-html="item.name" exact>
            </router-link>
          </li>
        </ul>
      </div>
      <div class="navbar--profile">
        <ul>
          <li class="dropdown" v-on:click="toggleDropdown($event)">
            <a href="#" v-html="profile.name"></a>
            <ul>
              <li v-for="item in profile.menu">
                <router-link :to="item.link">
                  {{item.name}}
                </router-link>
              </li>
              <li>
                <a href="#"  @click="logoutModalShow">Выйти</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </container>
    <sweet-modal ref="logout" title="Выйти?" width="400px">

      <div class="form--field align-center">
        <btn class="default" @click.native="logout">Выйти</btn>
      </div>
    </sweet-modal>
  </div>
</template>


<script>
  import Container from '@/components/Container';
  import {SweetModal, SweetModalTab} from 'sweet-modal-vue'
  import Btn from '@/components/Btn';

  export default {
    name: 'navbar',
    props: {
      logo: {
        type: Object
      },
      links: {
        type: Array,
      },
      profile: {
        type: Object
      }
    },
    methods: {
      logoutModalShow() {
        this.$refs.logout.open();
      },
      logout() {
        this.$twingo.call("users/logout").then(response => {
          this.$auth.logout();
          this.$router.go({
            path: '/',
            force: true
          })
        }, response => {
          this.$auth.logout();
          this.$router.go({
            path: '/',
            force: true
          })
        })
      },
      toggleDropdown($event) {
        let menu = $event.target;
        if (menu.classList.contains("open")) {
          menu.classList.remove("open");
        }
        else {
          menu.classList.add("open");
        }
      }
    },
    components: {
      Container,
      SweetModal,
      SweetModalTab,
      Btn
    }
  }
</script>
<style lang="scss">
  $navbar-color: #6bbe76;
  $navbar-height: 45px;
  $navbar-link-color: #fff;

  .navbar {
    width: 100%;
    height: $navbar-height;
    background: $navbar-color;
    position: fixed;
    z-index: 1000;

    &--logo {
      float: left;
      width: 15%;
      line-height: $navbar-height;
      font-family: 'Asap', sans-serif;
      font-weight: bold;

      & a {
        color: $navbar-link-color;
        text-decoration: none;
        font-size: 22px;
        display: block;
      }
    }
    &--menu {
      float: left;
      width: 70%;
      text-align: center;
      & ul {

        padding: 0;
        margin: 0;

        & li {
          list-style: none;
          display: inline-block;
          line-height: $navbar-height;
          transition: 0.3s ease-out all;
          &:hover {
            background: darken($navbar-color, 5%);
          }

          & a {
            color: $navbar-link-color;
            text-decoration: none;
            font-size: 13px;
            padding: 0 15px;
            display: block;

            &.router-link-active {
              background: darken($navbar-color, 5%);
            }
          }

        }
      }
    }

    &--profile {
      float: left;
      width: 15%;
      text-align: right;
      & ul {
        float: right;

        padding: 0;
        margin: 0;
        & li.dropdown {
          &:hover {
            cursor: pointer;
          }
          & > a {
            pointer-events: none;
          }
        }
        & li {
          position: relative;
          list-style: none;
          display: inline-block;
          line-height: $navbar-height;
          padding: 0 8px;
          transition: 0.3s ease-out all;
          &:hover {
            background: darken($navbar-color, 5%);
          }

          & a {
            position: relative;
            color: $navbar-link-color;
            text-decoration: none;
            font-size: 13px;
            padding: 0 5px;
            display: block;
          }

          &.open ul {
            display: block;
            border: 1px solid #ccc;
            line-height: 1;

            & li {
              padding-top: 10px;
              border-bottom: 1px solid #DDD;
            }
          }

          & ul {
            display: none;
            position: absolute;
            width: auto;
            left: 0;
            padding: 0;
            margin: 0;
            background: #fff;
            & li {
              height: auto;
              width: 100%;
              line-height: normal;

              & a {
                color: #444;
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
</style>
