<template>
  <div class="navbar">
    <container>
      <div class="navbar--logo">
        <router-link :to="logo.link">
          {{logo.text}}
        </router-link>
      </div>
      <div class="navbar--menu">
        <ul>
          <li><a href="#" @click="openSignUpModal"> <i class="fa fa-sign-in"></i> Войти</a></li>
          <li><router-link :to="{name:'Registration'}" href="#" class="navbar--button__warning"> <i class="fa fa-key"></i> Регистрация</router-link></li>
        </ul>
      </div>
    </container>
    <sweet-modal ref="modal" title="Авторизация" width="400px">
      <div class="form--field">
        <input v-model="user.login" type="text" placeholder="Email или телефон">
      </div>
      <div class="form--field">
        <input v-model="user.password" type="password" placeholder="Пароль">
      </div>
      <div class="form--field align-center">
        <btn class="default" @click.native="sign_in">Войти</btn>
      </div>
    </sweet-modal>
  </div>
</template>

<script>
  import Container from '@/components/Container';
  import Btn from '@/components/Btn';
  import {SweetModal, SweetModalTab} from 'sweet-modal-vue'

  export default {
    name: "navbar-guest",
    data() {
      return {
        user: {
          login: undefined,
          password: undefined
        }
      }
    },
    props: {
      logo: {
        type: Object
      },
    },
    methods: {
      openSignUpModal() {
        this.$refs.modal.open();
      },
      sign_in() {
        this.$twingo.call("users/login", this.user).then(response => {
          if(response.body.success) {
            this.$auth.set(response.body.token, response.body.user);
            this.$router.go({
              path: '/',
              force: true
            })
          }
          else {
            alert("Неверный логин или пароль");
          }
        })
      }
    },
    components: {
      Container,
      SweetModal,
      SweetModalTab,
      Btn
    }
  }
</script>

<style lang="scss">
  $navbar-color: #6bbe76;
  $navbar-height: 45px;
  $navbar-link-color: #fff;

  .navbar {
    width: 100%;
    height: $navbar-height;
    background: $navbar-color;
    position: fixed;
    z-index: 1000;

    &--logo {
      float: left;
      width: 15%;
      line-height: $navbar-height;
      font-family: 'Asap', sans-serif;
      font-weight: bold;

      & a {
        color: $navbar-link-color;
        text-decoration: none;
        font-size: 22px;
        display: block;
      }
    }
    &--menu {
      float: left;
      width: 85%;
      text-align: right;
      & ul {

        padding: 0;
        margin: 0;

        & li {
          list-style: none;
          display: inline-block;
          line-height: $navbar-height;
          transition: 0.3s ease-out all;
          &:hover {
            background: darken($navbar-color, 5%);
          }

          & a {
            color: $navbar-link-color;
            text-decoration: none;
            font-size: 13px;
            padding: 0 15px;
            display: block;

            &.router-link-active {
              background: darken($navbar-color, 5%);
            }
          }

        }
      }
    }
  }
</style>
