<template>
  <ul class="tw-navlist">
    <li v-for="item in items">
      <router-link :to="item.link" v-html="item.name"></router-link>
    </li>
  </ul>
</template>

<script>
  export default {
    props: ['items'],
    name: "nav-list"
  }
</script>

<style lang="scss" scoped>
  .tw-navlist {
    padding: 0;
    margin: 0;

    & li {
      display: block;
      list-style: none;
      min-height: 20px;

      & a {
        padding: 6px;
        border-radius: 3px;
        width: 150px;
        display: block;
        color: #777;
        height: 30px;

        &.router-link-exact-active {
          background: #6bbe76;
          color: #fff;
        }
      }
    }
  }
</style>
