<template>
  <div class="page">
    <div class="page--content">
      <slot></slot>
    </div>
    <div class="page--footer">
      <hr>
      <container>
        <grid>
          <column column="column-4">
            <span class="page--footer__logo">
              twingo.io
            </span>
          </column>
          <column column="column-20">
            <div class="page--footer__items">
              <ul>
                <li><a href="#">Помощь</a></li>
                <li><router-link :to="{name: 'About'}">О нас</router-link></li>
                <li><router-link :to="{name: 'Contacts'}">Контакты</router-link></li>
                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </column>
        </grid>

      </container>
    </div>
  </div>
</template>
<script>
  import Container from "@/components/Container"
  import Grid from "@/components/Grid"
  import Column from "@/components/Column"

  export default {
    name: 'page',
    components: {
      Container,
      Column,
      Grid
    }
  }
</script>
<style lang="scss">
  $page-bg: #fafafa;
  $footer-height: 40px;
  .page {
    position: relative;
    float: left;
    min-height: calc(100% - 50px);
    width: 100%;
    margin-top: 45px;
    background: $page-bg;
    &--header {
      text-transform: uppercase;
      font-size: 15px;
      font-family: 'Asap', sans-serif;
    }
    &--content {
      min-height: 100%;
      padding-bottom: $footer-height + 20px;
      display: block;
      &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }
    &--footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      min-height: $footer-height;
      padding: 10px 0;
      color: #c3c3c3;


      &__logo {
        display: block;
        padding-top: 10px;
        font-size: 20px;
        font-family: 'Asap', sans-serif;
      }


      &__items {
        padding-top: 10px;
        text-align: right;
      }

      & ul {
        padding: 0;
        margin: 0;
        & li {
          padding: 0 10px;
          list-style: none;
          display: inline-block;
          & a {
            color: #888;
          }
          &:last-of-type {
            padding-right: 0;
          }
        }
      }
    }
  }
</style>
