<template>
  <widget class="userParts" name="Участники">
    <grid v-for="user in users" :key="user.id" class="userParts--item">
      <column column="column-4">
        <div class="userParts--item__avatar">
          <img class="img-fluid" src="../assets/avatar.jpg" alt="">
        </div>
      </column>
      <column column="column-20">
        <div class="userParts--item__name">
          <div class="userParts--item__name--wrapper">
            <router-link :to="{name:'User'}">{{user.first_name}} {{user.last_name}}</router-link>
            <p><span v-if="user.author">Автор</span></p>
          </div>
        </div>
      </column>
    </grid>
    <grid>
      <column column="column-24" class="align-center">
        <btn class="default">
          <i class="fa fa-plus-circle"></i> Хочу присоедениться
        </btn>
      </column>
    </grid>
  </widget>
</template>

<script>
  import Grid from '@/components/Grid'
  import Column from '@/components/Column'
  import Widget from '@/components/Widget'
  import Btn from '@/components/Btn'

  export default {
    name: 'parts-list',
    data() {
      return {
        users: [
          {
            'id': 1,
            'first_name': 'Александр',
            'last_name': 'Салтыков-Щедрин',
            'author': true,
          },
          {
            'id': 1,
            'first_name': 'Джони',
            'last_name': 'Депп',
            'author': false,
          },
        ]
      }
    },
    components: {
      Grid,
      Column,
      Widget,
      Btn
    }
  }
</script>

<style lang="scss">
  .userParts {
    &--item {
      margin: 10px 0;
      &:last-of-type {
        margin-bottom: 0;
      }
      &__avatar img {
        border-radius: 100%;
      }
      &__name {
        display: table;
        min-height: 50px;
        color: #888;
        padding-left: 10px;
        font-size: 13px;
        &--wrapper {
          display: table-cell;
          vertical-align: middle;
          & span {
            display: block;
            margin-top: -10px;
            font-size: 11px;
          }
        }
      }
    }
  }
</style>
