<template>
  <widget>
    <div class="smallTravelCard">
      <div class="smallTravelCard--city">
        <grid>
          <column column="column-1">
            <i class="fa fa-map-marker"></i>
          </column>
          <column column="column-21">
            Санкт-Петербург
          </column>
        </grid>
      </div>

      <div class="smallTravelCard--city">
        <grid>
          <column column="column-1">
            <i class="fa fa-map-marker"></i>
          </column>
          <column column="column-21">
            Кавкакие Минеральные Воды
          </column>
        </grid>
      </div>

      <div class="smallTravelCard--date">
        <i class="fa fa-clock-o"></i> 20 декабря
      </div>
    </div>
  </widget>
</template>


<script>
  import Widget from '@/components/Widget'
  import Grid from '@/components/Grid'
  import Column from '@/components/Column'

  export default {
    name: "small-travel-card",
    components: {
      Widget,
      Grid,
      Column
    }
  }
</script>


<style lang="scss">
  .smallTravelCard {
    width: 100%;
    padding: 10px;
    & i {
      color: #6bbe76;
      width: 15px;
    }

    &--city {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
  }
</style>
