<template>
  <alert type="success" icon="fa fa-check-circle-o fa-3x">
    <slot></slot>
  </alert>
</template>

<script>
  import Alert from "./Alert";

  export default {
    components: {Alert},
    name: "success-alert"
  }
</script>

<style scoped>

</style>
