<template>
  <div class="travelCard">
    <div class="travelCard--user">
      <grid>
        <column column="column-3">
          <div class="travelCard--user__avatar">
            <img src="../assets/avatar.jpg" alt="" width="35px" height="35px">
          </div>
        </column>
        <column column="column-21">
          <div class="travelCard--user__name">
            <router-link :to="{}">Хелена Бонэм-Картер</router-link>
          </div>
        </column>
      </grid>
    </div>
    <div class="travelCard--path">
      <grid>
        <column column="column-7">
          <div class="travelCard--path__city">
            <span>{{city_from}}</span>
          </div>
        </column>
        <column column="column-10">
          <div class="travelCard--path__transport" v-bind:class="transportClasses">
            <i class="travelCard--path__transport--icon" v-bind:class="transportIcons"></i>
          </div>
        </column>
        <column column="column-7">
          <div class="travelCard--path__city">
            <span>{{city_to}}</span>
          </div>
        </column>
      </grid>
    </div>
    <div class="travelCard--info">
      <grid>
        <column column="column-24">
          <i class="fa fa-clock-o"></i> {{date_start}} — {{date_end}} &nbsp;&nbsp;&nbsp;
          <i class="fa fa-user-o"></i> 1 / 2
        </column>
      </grid>
    </div>
    <div class="travelCard--buttons">
      <router-link :to="{name: 'Travel', params: {id: 1}}">
        <btn class="outline">Подробнее</btn>
      </router-link>
    </div>

  </div>
</template>

<script>
  import Grid from '@/components/Grid'
  import Column from '@/components/Column'
  import Widget from '@/components/Widget'
  import Btn from '@/components/Btn'

  export default {
    name: 'travel-card',
    data() {
      return {
        transportClasses: {
          "travelCard--path__transport--plane": this.transport === 1,
          "travelCard--path__transport--car": this.transport === 2,
          "travelCard--path__transport--train": this.transport === 3,
        },
        transportIcons: {
          "fa fa-fighter-jet": this.transport === 1,
          "fa fa-car": this.transport === 2,
          "fa fa-train": this.transport === 3,
        }
      }
    },
    props: {
      city_from: {
        type: String,
      },
      city_to: {
        type: String,
      },
      date_start: {
        type: String
      },
      date_end: {
        type: String
      },
      transport: {
        type: Number
      }
    },
    components: {
      Grid,
      Column,
      Widget,
      Btn
    }
  }
</script>

<style lang="scss">
  $base-color: #6bbe76;
  .travelCard {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 2px;
    border: 1px solid #eee;

    &--buttons {
      text-align: center;
    }
    &--user {
      margin-bottom: 15px;

      &__avatar {
        & img {
          border-radius: 100%;
        }
        max-width: 100%;
      }

      &__name {
        line-height: 30px;
        width: 100%;
        padding-left: 7px;
        & a {
          font-size: 12px;
          text-decoration: none;
          color: darken($base-color, 20%);
        }
      }
    }
    &--avatar {
      padding: 10px;
      & img {
        max-width: 100%;
        float: left;
        border-radius: 100%;
      }
    }
    &--path {
      font-size: 14px;
      width: 100%;
      height: 60px;
      margin-bottom: 15px;

      &__city {
        width: 100%;

        display: table;
        height: 70px;
        font-size: 12px;
        text-align: center;

        & span {
          display: table-cell;
          vertical-align: middle;
        }
      }

      &__transport {
        &--train {
          position: relative;
          width: 100%;
          display: inline-block;
          min-width: 4em;
          min-height: 4em;
          padding: 0.5em;
          margin: 34px auto;
          border: 2px dashed transparent;
          border-top-color: $base-color;

          &:before {
            position: absolute;
            content: "\f104";
            color: $base-color;
            top: -11px;
            left: -7px;
            font-size: 20px;
            font-family: FontAwesome;
            font-weight: bold;
          }

          &:after {
            content: '\f105';
            position: absolute;
            left: 100%;
            color: $base-color;
            top: -11px;
            font-size: 20px;
            font-family: FontAwesome;
            font-weight: bold;
          }
          & .travelCard--path__transport--icon {
            position: absolute;
            display: block;
            font-size: 15px;
            color: $base-color;
            top: -25px;
            left: 45%;
          }
        }
        &--car {
          position: relative;
          width: 100%;
          display: inline-block;
          min-width: 4em;
          min-height: 4em;
          padding: 0.5em;
          margin: 34px auto;
          border: 2px solid transparent;
          border-top-color: $base-color;

          &:before {
            position: absolute;
            content: "\f104";
            color: $base-color;
            top: -11px;
            left: -7px;
            font-size: 20px;
            font-family: FontAwesome;
            font-weight: bold;
          }

          &:after {
            content: '\f105';
            position: absolute;
            left: 100%;
            color: $base-color;
            top: -11px;
            font-size: 20px;
            font-family: FontAwesome;
            font-weight: bold;
          }
          & .travelCard--path__transport--icon {
            position: absolute;
            display: block;
            font-size: 15px;
            color: $base-color;
            top: -25px;
            left: 45%;
          }
        }

        &--plane {
          position: relative;
          width: 100%;
          display: inline-block;
          min-width: 4em;
          min-height: 4em;
          padding: 0.5em;
          margin: 22px auto;
          border-radius: 50%;
          border: 2px solid transparent;
          border-top-color: $base-color;

          &:before {
            position: absolute;
            content: "\f104";
            color: $base-color;
            top: 3px;
            left: 3px;
            transform: rotate(-45deg);
            font-size: 20px;
            font-family: FontAwesome;
            font-weight: bold;
          }

          &:after {
            content: '\f105';
            position: absolute;
            left: 91%;
            color: $base-color;
            top: 3px;
            font-size: 20px;
            transform: rotate(45deg);
            font-family: FontAwesome;
            font-weight: bold;
          }
          & .travelCard--path__transport--icon {
            position: absolute;
            display: block;
            font-size: 18px;
            color: $base-color;
            top: -25px;
            left: 45%;
          }
        }

      }
    }
    &--info {
      text-align: center;
      width: auto;
      font-size: 13px;
      color: #777;
      margin: 0 auto 15px;

      & i {
        color: $base-color;
      }
    }
  }
</style>
