<template>
  <widget name="Путь">
    <div class="travelRoad">
      <div class="travelRoad--item" v-for="point in road">
        <div class="travelRoad--item__label">
          Откуда
        </div>
        <div class="travelRoad--item__city">
          <span>
            {{point.city_from}}
          </span>
        </div>
        <div class="travelRoad--item__label">
          Откуда
        </div>
        <div class="travelRoad--item__date">
          <span>
            <i class="fa fa-clock-o"></i> 18 дек- 25 дек
          </span>
        </div>
        <div class="travelRoad--item__label">
          Транспорт
        </div>
        <div class="travelRoad--item__transport">
          <span>
            <i class="fa fa-car"></i> Автомобиль
          </span>
        </div>
        <div class="travelRoad--item__label">
          Куда
        </div>
        <div class="travelRoad--item__city">
          <span>
            {{point.city_to}}
          </span>
        </div>
      </div>
    </div>
  </widget>
</template>

<script>
  import Widget from '@/components/Widget'
  import Grid from '@/components/Grid'
  import Column from '@/components/Column'

  export default {
    name: "travel-road",
    data() {
      return {
        road: [
          {
            city_from: "Кавказкие Минеральные Воды",
            city_to: "Санкт-Петербург",
            date: "18 дек - 25 дек",
            transport: 2
          },
        ]
      }
    },
    components: {
      Widget,
      Grid
    }
  }
</script>


<style lang="scss">
  .travelRoad {
    font-size: 12px;

    &--item {
      &__label {
        color: #c3c3c3;
        font-size: 11px;
        height: 30px;
        line-height: 30px;
      }

      &__transport {
        background: #eee;
        height: 30px;
        margin: 10px 0;
        padding: 3px 8px;
        display: table;
        width: 100%;
        color: #777;

        border-radius: 2px;

        & span {
          display: table-cell;
          vertical-align: middle;
        }

        & i {
          color: #6bbe76;
        }

      }

      &__city {
        border: 1px solid #6bbe76;
        background: #6bbe76;
        color: #fff;
        display: table;
        width: 100%;
        height: 30px;
        font-size: 12px;
        padding: 3px 8px;
        margin: 10px 0;
        border-radius: 2px;
        & span {
          display: table-cell;
          vertical-align: middle;
        }
      }

      &__date {
        background: #eee;
        display: table;
        height: 30px;
        color: #777;
        width: 100%;
        margin: 10px 0;
        border-radius: 2px;

        & span {
          display: table-cell;
          vertical-align: middle;
          padding: 3px 8px;
        }

        & i {
          color: #6bbe76;
        }
      }
    }
  }
</style>
