<template>
  <mapbox :accessToken="access_token"
  :mapOptions="{style: 'mapbox://styles/mapbox/light-v9', center: [-96, 37.8], zoom: 3}"
  ></mapbox>
</template>


<script>
  import Mapbox from 'mapbox-gl-vue';

  export default {
    name: "travel-map",
    data() {
      return {
        access_token: "pk.eyJ1IjoiZXZnZW51c292OTYiLCJhIjoiY2o2NnhqcHdmMDAyNDJxb2NpbDhhZjcxNyJ9.a7h5nB-Cp3B4QEVaPEB84w"
      }
    },
    components: {
      Mapbox
    }
  }
</script>


<style>
  #map {
    width: 100%;
    height: 350px;
  }
</style>
