<template>
  <div class="avatar">
    <avatar-upload lang-type="ru"
                   field="photo"
                   :url="getUploadUrl()"
                   :headers="headers"
                   :width="300"
                   :height="300"
                   @crop-upload-success="uploadSuccess"
                   v-model="showUploader"
                   :no-circle="true"
                   :no-square="true">
    </avatar-upload>
    <img v-bind:src="user.avatar" alt="" v-if="user.avatar">
    <img src="../assets/avatar.jpg" v-else>
    <div class="avatar--manager">
      <ul>
        <li>
          <a href="#" @click="showUploader = !showUploader">
            <i class="fa fa-gear"></i> Загрузить аватар
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import avatarUpload from 'vue-image-crop-upload';

  export default {
    name: "user-avatar",
    props: ["user"],
    data() {
      return {
        showUploader: false,

        headers: {
          'Authorization': 'Token ' + localStorage['token']
        }
      }
    },
    components: {
      avatarUpload
    },

    methods: {
      uploadSuccess(result) {
        if(result.success === 1) {
          this.user.avatar = result.object
        }
      },
      getUploadUrl() {
        return this.$twingo.getAvatarUploadUrl()
      }
    }
  }
</script>

<style lang="scss">
  .avatar {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #eeeeee;
    padding: 0;
    &:hover {
      & .avatar--manager {
        bottom: 0;
        transition: all 0.1s linear;
      }
    }
    &--manager {

      transition: all 0.1s linear;
      background: rgba(0,0,0,0.8);
      position: absolute;
      bottom: -40px;
      width: 100%;

      & ul {
        padding: 0;
        margin: 0;

        & li {
          display: block;
          height: 40px;
          line-height: 40px;

          & a {
            font-size: 13px;
            padding: 0 20px;
            color: #fff;
          }
        }
      }
    }
    & img {
      float: left;
      max-width: 100%;
    }
  }
</style>
