<template>
  <div class="userCard">
    <grid>
      <column column="column-6">
        <div class="userCard--avatar">
          <img src="../assets/avatar.jpg" alt="">
        </div>
      </column>
      <column column="column-18">
        <div class="userCard--info">
          <div class="userCard--info__name"><router-link :to="{}">Хелена Бонем-Картер</router-link></div>
          <div class="userCard--info__bio">Санкт-Петербург, 20 лет</div>
          <column column="column-12">
            <btn classes="default">Написать</btn>
            <btn classes="outline">Пригласить</btn>
          </column>
        </div>
      </column>
    </grid>
  </div>
</template>

<script>
  import Grid from '@/components/Grid'
  import Column from '@/components/Column'
  import Widget from '@/components/Widget'
  import Btn from '@/components/Btn'

  export default {
    name: 'user-card',
    components: {
      Grid,
      Column,
      Widget,
      Btn
    }
  }
</script>


<style lang="scss">
  .userCard {
    background: #fff;
    padding: 5px 10px;
    margin: 10px 20px 10px 0;
    border: 1px solid #eee;
    & a {
      color: darken(#6bbe76, 20%);
      font-size: 14px;
      text-decoration: none;
    }
    &--avatar {
      padding: 10px;
      & img {
        max-width: 100%;
        float: left;
        border-radius: 100%;
      }
    }
    &--info {
      padding: 10px;
      &__name {
        font-size: 12px;
      }
      &__bio {
        font-size: 11px;
        color: #777;
        margin-bottom: 10px;
      }
    }
  }
</style>
