<template>
  <widget>
    <div class="userProfile">
      <div class="userProfile--avatar">
        <img src="../assets/avatar.jpg" alt="">
      </div>
      <div class="userProfile--name">
        Хелена Бонем-Картер
      </div>
    </div>
  </widget>
</template>


<script>
  import Widget from '@/components/Widget'
  import Btn from '@/components/Btn'
  export default {
    name: "user-profile",
    components: {
      Widget,
      Btn
    }
  }
</script>

<style lang="scss">
  .userProfile {
    &--avatar {
      & img {
        max-width: 100%;
      }
    }
    &--name {
      font-size: 14px;
    }
  }
</style>
