<template>
  <div class="widget" v-bind:class="{'noborder':noborder}">
    <div class="widget--title" v-html="name" v-if="name"></div>
    <div class="widget--content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'widget',
    props: {
      noborder: {
        type: Boolean
      },
      name: {
        type: String
      }
    }
  }
</script>

<style lang="scss">
  .widget {
    background: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 2px;
    border: 1px solid #eee;

    &.noborder {
      border: none;
      box-shadow: none;
    }
    &--title {
      font-size: 8.5px;
      color: #c3c3c3;
      height: 20px;
      text-transform: uppercase;
    }
  }
</style>
