<template>
  <nav-list :items="items"></nav-list>
</template>

<script>
  import NavList from "../../components/NavList";

  export default {
    components: {NavList},
    name: "settings-navigation",
    data() {
      return {
        items: [
          {
            name: 'Общее',
            link: {
              name: 'Settings'
            }
          },
          {
            name: 'Аккаунт',
            link: {
              name: 'SettingsAccount'
            }
          },
          {
            name: 'Пароль',
            link: {
              name: 'SettingsPassword'
            }
          }
        ]
      }
    }
  }
</script>

<style scoped>

</style>
