<template>
  <div id="app" v-if="appLoaded">
    <navbar v-if="auth" :links="navbar.menu" :logo="navbar.logo" :profile="navbar.profile"></navbar>
    <navbar-guest v-else :logo="navbar.logo"></navbar-guest>
    <router-view/>
  </div>
</template>

<script>
  import Navbar from '@/components/Navbar'
  import NavbarGuest from '@/components/NavbarGuest'

  export default {
    name: 'app',
    data() {
      let appData = {};
      appData['auth'] = this.$auth.isAuth;
      appData['appLoaded'] = false;
      appData['navbar'] = {
        logo: {
          text: "twingo",
          link: {
            name: 'Main'
          }
        },
        menu: [
          {
            name: '<i class="fa fa-envelope"></i>',
            link: {
              name: 'Main'
            }
          },
          {
            name: ' <i class="fa fa-plus-circle" aria-hidden="true"></i> Создать путешествие',
            link: {
              name: 'TravelCreate'
            }
          },
          {
            name: '<i class="fa fa-users"></i> Друзья',
            link: {
              name: 'Friends'
            }
          },
          {
            name: '<i class="fa fa-map-signs" aria-hidden="true"></i> Мои путешествия',
            link: {
              name: 'Travels'
            }
          },
          {
            name: '<i class="fa fa-ticket"></i> Приглашения',
            link: {
              name: 'Menu'
            }
          }
        ],
        profile: {
          name: "<i class='fa fa-user'></i> Мой блог",
          menu: [
            {
              name: 'Профиль',
              link: {
                name: "User",
              }
            },
            {
              name: 'Настройки',
              link: {
                name: 'Settings'
              }
            }
          ]
        }
      };


      return appData;
    },
    beforeMount() {
      let vm = this;
      this.$twingo.call("account/getBaseInfo", {
        access_token: localStorage['token']
      }).then(response => {
        vm.$auth.set(localStorage['token'], response.body);
        vm.authUser = response.body;
        vm.auth = true;
        vm.navbar.profile.menu[0] = {
          name: "Профиль",
          link: {
            name: "User",
            id: vm.authUser.id
          }
        };
        vm.appLoaded = true;
      }, error => {
        vm.appLoaded = true;
      });
    },
    components: {
      Navbar,
      NavbarGuest
    }
  }
</script>

<style lang="scss">
  * {
    box-sizing: border-box;
  }

  html, body, #app {
    height: 100%;
  }

  a {
    text-decoration: none;
    color: #6bbe76;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }

  body {
    padding: 0;
    margin: 0;
    background: #fafafa;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
  }

  .fluid {
    min-width: 100%;
  }

  .img-fluid {
    max-width: 100%;
  }

  .align-center {
    text-align: center;
  }

  small {
    color: #888;
    font-size: 11px;
  }

  hr {
    border: none;
    border-top: 1px solid #eee;
  }

  .color {
    color: #6bbe76;
  }

  .form {
    &--field {
      margin-bottom: 15px;
      & label {
        display: block;
        width: 100%;
        color: #777;
        font-size: 12px;
        line-height: 35px;
        height: 35px;
      }

      & .btn {
        height: 35px;
      }
      & select {
        height: 35px;
      }

      & input:not([type=checkbox]), select, textarea {
        width: 100%;
        min-height: 35px;
        border: 1px solid rgba(64, 64, 64, 0.1);
        font-size: 12px;
        padding: 0 10px;
        border-radius: 2px;
        transition: all 0.222s ease-out;
        background: #fff;
        &:focus, &:active, &:hover {
          outline: none;
          border: 1px solid #6bbe76;
        }
      }
    }
  }
</style>
