<template>
  <page>
    <container>
      <grid>
        <column column="column-24">
          <h1>Контакты</h1>
          <p>Контакты</p>
        </column>
      </grid>
    </container>
  </page>
</template>

<script>
  import Page from '@/components/Page'
  import Container from '@/components/Container'
  import Grid from '@/components/Grid'
  import Column from '@/components/Column'


  export default {
    name: 'friends',
    data() {
      return {
      }
    },
    components: {
      Page,
      Container,
      Grid,
      Column,
    }
  }
</script>
